@font-face {
    font-family: tinyHands;
    src: url('fonts/bf.eot');
    src: url('fonts/bf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/bf.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/bf.woff') format('woff'), /* Pretty Modern Browsers */
    url('fonts/bf.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/bf.svg#svgbf') format('svg');
  }

h5,h1,h2,h3,h4,h6 {
    font-family: tinyHands;
}

#card-title{
  color: #000000;
}
body #popup {
  opacity: 0.5;
  background-color: #bbdefb;
  color: #000000;
}
div {
background: #455a64;
color: #fff;
opacity: 0.8;
}
div:hover{
opacity: 1;
text-transform: full-width;
 }
header#masthead a {
 color: #fff;
}
 .nav-links .btn {
  background: #2196f3;
}
/* Navigation */
.nav {
color: #fff;
background-color: #64b5f6;
width: 100%;
height: 56px;
line-height: 56px;
overflow: hidden;
}

nav ul li:hover, nav ul li.active {
background-color: #1976d2;
}

/* Content */

.card .card-title, .card .card-title a {
 color: #1976d2;
}

.card a:hover {
  color: #64b5f6;
}

.card-action {
background: #e3f2fd;
}

.card a {
  color: #039be5;
  margin-right: 0;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
@media screen and (max-width: 568px) {
.card .card-image .card-title {
  position: relative;
  bottom: 0;
  left: 0;
  padding: 0;
 }
h1.entry-title {
  font-size: 2.0rem;
  text-transform: none;
  line-height: 2.4rem;
  padding: 0 1.2rem;
 }
.entry-meta {
  padding: 0 1.2rem;
  font-size: 22px;
 }
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


html {
  overflow-x: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

#search_container {
  text-align: center;
}

#search {
  width: 85%;
}

.app {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 2px;
  margin-right: 20px;
  white-space: nowrap;
}

.app img {
  vertical-align: middle;
  height: 38px;
  width: 38px;
}

.app_title {
  vertical-align: middle;
  margin-left: 5px;
}

.app:hover {
  background-color: rgb(250,250,250);
  cursor:pointer;
  outline: 1px dotted rgb(100,100,200);
}

.app_selected,.app_selected:hover {
  background-color: rgb(230,230,230);
}

#appstore_link {
  display: none;
}
