@font-face {
  font-family: tinyHands;
  src: url('../fonts/bf.eot');
  src: url('../fonts/bf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/bf.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/bf.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/bf.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/bf.svg#svgbf') format('svg');
}
body {
  background-color:#666;
  margin: 0;
  font-family: tinyHands,'Open Sans Regular', sans;
  width: 400px;
  height: 560px;
}
h1,h2,h3,h4,h5,h6 {
  font-family:tinyHands; 
}

.contentButton{
  position:fixed;
  object-position: bottom;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:white;
	color:red;
	border-radius:50px;
	text-align:center;
	box-shadow: 5px 2px 3px #999;
}

.header {
  text-align: center;
  padding: 10px 0 10px 0;
}
.header hr {
  border: none;
  margin-top: 20px;
  background: -webkit-linear-gradient(0deg,
    rgb(51,105,232) 0%,
    rgb(51,105,232) 25%,
    rgb(222,30,37) 25%,
    rgb(222,30,37) 50%,
    rgb(255, 210, 0) 50%,
    rgb(255, 210, 0) 75%,
    rgb(76,187,71) 75%,
    rgb(76,187,71) 100%
    );
 }

.header .links * {
  margin-left: 5px;
}
.header .links a {
  color: #666;
}
.header:hover .links a {
  color: #3399cc;
}
.flows h2,h5,h6 {
  margin-left: 5px;
  margin-bottom: 5px;
}
.flow {
  margin: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  padding: 5px;
  background:black;
  font-size: 16px;
  color:grey;
  transition: 0.3s;
}
.flow :hover{
  background-color: #3e8e41;
  color: rgb(10, 6, 6);
}
.flow button {
  cursor: pointer;
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  text-shadow: 1px 1px 1px #076bd2;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: .5em 0 1em;
  padding: 8px 17px 8px 17px;
  border-radius: 3px;
}
.flow button.error {
  background: -webkit-linear-gradient(top,#3e8e41,#0370ea 100%);
  border: 1px solid #076bd2;
  text-shadow: 1px 1px 1px #076bd2;
  color: white;
  font-weight: 700;
  font-size: 13px;
  margin: .5em 0 1em;
  padding: 8px 17px 8px 17px;
  border-radius: 3px;
}
#button:disabled {
  background: -webkit-linear-gradient(top, #dcdcdc 0, #fafafa 100%);
  color: #999;
  text-shadow: 1px 1px 1px #fafafa;
  border: 1px solid #ddd;
  cursor: auto;
}
#button.loading {
  background-color: red;
	}
    #button.loading:before {
      content: '';
      position: absolute;
      height:5px;
      background-color: inherit;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    #button.loading:after {
      content: '';
      position: absolute;
	    height:5px;
      background-color: inherit;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }
@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } }

.log {
  margin: 10px 20px 20px 20px;
}
.log textarea {
  width: 100%;
  min-height: 120px;
  font-family: "Courier New", Courier, monospace;
  margin: 2px;
  background: #FFFFFF;
  color: #727272;
  border: 1px solid rgb(182, 182, 182);
}
#exec_data{
  min-height: 50px;
}