#helper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
}
#helper h6 {
    margin: 0;
    color: #000;
}
#helper a.dropdown-trigger {
    text-transform: none;
    background-color: rgba(128, 128, 128, 0.5);
}
#helper #dropdown1 {
    white-space: nowrap;
}
#helper #dropdown1 strong {
    font-weight: 700;
}
#helper #dropdown1 #code {
    color: #555;
    font-family: Monaco, Consolas, monospace;
}