@font-face {
    font-family: tinyHands;
    src: url('../fonts/bf.eot');
    src: url('../fonts/bf.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/bf.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/bf.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/bf.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/bf.svg#svgbf') format('svg');
}
html {
    text-align: center;
    float: center;
    padding: 0;
    width: 500px;
    background-color: #424242;
}
body {
    background-color: #424242;
    color: blue-grey darken-4;
    float: center;
    margin: 0;
    text-align: center;
    font-family: tinyHands, 'Open Sans Regular', sans;
}
p {
    font-family: 'Open Sans Regular';
}
h1, h2, h3, h4, h5, h6 {
    font-family: tinyHands;
}
.loadspin, #overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

nav ul a,
nav .brand-logo {
    color: #444;
    padding: 0;
    list-style: none;
}

.log {
    margin: 10px 20px 20px 20px;
}
.log textarea {
    width: 100%;
    min-height: 120px;
    font-family: "Courier New", Courier, monospace;
    margin: 2px;
    background: brown;
    color: yellow;
    border: 1px solid rgb(182, 182, 182);
}
#exec_data {
    min-height: 50px;
}

.sidenav-trigger {
    color: hsl(174, 78%, 23%);
}
#card-title {
    background-color: #000000;
}

body #popup {
    opacity: 0.7;
    width: 200px;
    height: 400px;
    background-color: darkslategrey;
    color: rgb(94, 7, 233);
}

div {
    background: #455a64;
    color: teal;
    opacity: 0.9;
    width: 86%;
    justify-items: center;
    align-content: center;
}

div:hover {
    opacity: 1;
    text-transform: full-width;
}

header#masthead a {
    color: #fff;
}

.nav-links .btn {
    background: #2196f3;
}

/* Navigation */

.nav {
    color: white;
    background-color: blue-grey lighten-1;
    width: 100%;
    height: 56px;
    line-height: 56px;
    overflow: hidden;
}
nav ul li:hover,
nav ul li.active {
    background-color: #1976d2;
}

.card .card-title,
.card .card-title a {
    color: white;
}

.card a:hover {
    color: black;
}

.card-action {
    background: teal;
}

.card a {
    color: blue-grey darken-2;
    margin-right: 0;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
